@(predictions: Seq[controllers.parsers.StopPrediction])

@for(p <- predictions) {
  <div>
    <h2 class="stopTitle">@p.stopTitle</h2>
    <h3 class="routeTitle">@p.routeTitle</h3>
    <h4 class="direction">@p.direction</h4>
    Arriving in
      @for(e <- p.events) {
      <div class="arrival-row"><span class="minutes-elem mark">@e.minutes</span> minutes</div>
      }
  </div>
}
